<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USTC BANK</title>
    <meta name="author" content="朱秋成">
    <meta name="description" content="coder">
    <!-- Open Graph -->
    <meta property="og:title" content="zqc的博客">
    <meta property="og:type" content="website">
    <meta property="og:url" content="/">
    <meta property="og:description" content="coder">
    <meta property="og:site_name" content="zqc的博客">
    <link href="/static/icons/logo.svg" rel="icon">
    <link rel="stylesheet" href="//cdn.staticfile.org/normalize/6.0.0/normalize.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_271755_rdxzzo2kqwk.css">
    <link rel="stylesheet" href="/static/css/github-markdown.css">
    <link rel="stylesheet" href="/static/css/prism.css">
    <link rel="stylesheet" href="/static/css/share.min.css">
    <link rel="stylesheet" href="/static/css/app.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

    <style type="text/css">
        p:not(.add){
            width: 200px;
            height: 20px;
            margin-top: 20px;
        }
        /*p清浮动*/
        p{
            /* overflow: hidden; */
        }



    </style>
</head>

<body>
    <!--[if lt IE 10]>
<div class="alert-danger" role="alert">你的浏览器实在太太太旧了，放学别走，升级完浏览器再说！<a target="_blank" class="alert-link" href="http://browsehappy.com">立即升级</a></div>
<![endif]-->
    <input id="nm-switch" type="hidden" value="true">
    <div class="visible">
        <header class="g-header headerDown" style="background-color:
                transparent; box-shadow: none;">
            <div class="g-logo" style="background:
                    url(&quot;/static/icons/logo.svg&quot;) center center / 100%
                    100% no-repeat;">
                <a href="/"></a>
            </div>
            <i id="menu-toggle" class="iconfont icon-menu"></i>
            <nav class="g-nav">
                <ul>

                    <li><a href="/" style="color: rgb(255, 255, 255);">home</a></li>
                    <li><a href="/tags.html" style="color: rgb(255, 255,
                                255);">tags</a></li>

                </ul>
            </nav>
        </header>


        <div class="g-banner home-banner banner-theme-default" data-theme="default" style="">
            <h2>{{ loan[2] }} 的详情</h2>
            <h3></h3>
        </div>

        <main class="g-container home-content">
            <div class="article-list">
                <article class="article-item">
                    <section class="post-preview" style="text-align: center;">
                        <h1 class="post-title">账户情况</h2>
                    </section>
                </article>
                <article class="article-item">
                    <section class="post-preview" style="text-align: center;">
                        <a class="post-link" href="/accounts/show_account?ID={{ account_id }}&type={{ account_type }}" title="账户详情"></a>
                        <h2 class="post-title">{{ account_id }}</h2>
                    </section>
                </article>
                {% if row != 0 %}
                    <article class="article-item">
                        <section class="post-preview" style="text-align: center;">
                            <h2 class="post-title">贷款支付</h2>
                        </section>
                    </article>
                    {% for offer in offers %}
                    <article class="article-item">
                        <section class="post-preview" style="text-align: center;">
                            <h2 class="post-title">{{ offer[1] }}</h2>
                            <h3 class="post-subtitle">{{ offer[2] }}</h3>
                            <h3 class="post-subtitle">{{ offer[3] }}</h3>
                        </section>
                    </article>
                    {% endfor %}
                {% else %}
                    <article class="article-item">
                        <section class="post-preview" style="text-align: center;">
                            <h2 class="post-title">暂时没有进行发放</h2>
                            <h3 class="post-subtitle"></h3>
                        </section>
                    </article>
                {% endif %}



            </div>

            <aside class="g-sidebar-wrapper">
                <div class="g-sidebar">
                    <section class="author-card">
                        <div class="avatar">
                            <img src="/static/img/hero.jpg" alt="">
                        </div>
                        <div class="container" style="text-align: left">
                            <div class="author-name" rel="author">
                                <p>
                                    <label for="name">银行名：</label>
                                    {{ loan[0] }}
                                </p>
                            </div>
                            <div class="author-name" rel="author">
                                <p>
                                    <label for="name">账户号：</label>
                                    {{ loan[1] }}
                                </p>
                            </div>
                            <div class="author-name" rel="author">
                                <p>
                                    <label for="name">贷款号：</label>
                                    {{ loan[2] }}
                                </p>
                            </div>
                            <div class="author-name" rel="author">
                                <p>
                                    <label for="name">贷款金额：</label>
                                    {{ loan[3] }}
                                </p>
                            </div>
                            <div class="author-name" rel="author">
                                <p>
                                    <label for="name">贷款状态：</label>
                                    {% if loan[4] == 0 %}
                                        未开始发放
                                    {% elif loan[4] == 1 %}
                                        发放中
                                    {% else %}
                                        发放完毕
                                    {% endif %}
                                </p>
                            </div>
                            <div class="bio">
                            </div>
                        </div>
                    </section>
                </div>
            </aside>

        </main>

        <footer class="g-footer">
            <section>USTC © 2021 - 2021
            </section>
            <section>Powered by <a href="">USTC BANK</a></section>
        </footer>


        </div>
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <script src="/static/js/prism.js"></script>
        <script src="/static/js/index.min.js"></script>


</body>

</html>