<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>客户管理系统</title>
    <meta name="author" content="朱秋成">
    <meta name="description" content="coder">
    <!-- Open Graph -->
    <meta property="og:title" content="zqc的博客">
    <meta property="og:type" content="website">
    <meta property="og:url" content="/">
    <meta property="og:description" content="coder">
    <meta property="og:site_name" content="zqc的博客">
    <link rel="stylesheet" href="//cdn.staticfile.org/normalize/6.0.0/normalize.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_271755_rdxzzo2kqwk.css">
    <link rel="stylesheet" href="/static/css/github-markdown.css">
    <link rel="stylesheet" href="/static/css/prism.css">
    <link rel="stylesheet" href="/static/css/share.min.css">
    <link rel="stylesheet" href="/static/css/app.min.css">
    <link href="/static/icons/logo.svg" rel="icon">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <!--[if lt IE 10]>
<div class="alert-danger" role="alert">你的浏览器实在太太太旧了，放学别走，升级完浏览器再说！<a target="_blank" class="alert-link" href="http://browsehappy.com">立即升级</a></div>
<![endif]-->
    <input id="nm-switch" type="hidden" value="true">
    <div class="visible">
        <header class="g-header headerDown" style="background-color:
                transparent; box-shadow: none;">
            <div class="g-logo" style="background:
                    url(&quot;/static/icons/logo.svg&quot;) center center / 100%
                    100% no-repeat;">
                <a href="/"></a>
            </div>
            <i id="menu-toggle" class="iconfont icon-menu"></i>
            <nav class="g-nav">
                <ul>

                    <li><a href="/" style="color: rgb(255, 255, 255);">home</a></li>
                    <li><a href="/tags.html" style="color: rgb(255, 255,
                                255);">tags</a></li>

                </ul>
            </nav>
        </header>


        <div class="g-banner home-banner banner-theme-default" data-theme="default" style="">
            <h2>USTC BANK</h2>
            <h3></h3>
        </div>

        <main class="g-container home-content">
            <div class="article-list">

                <article class="article-item">
                    <section class="post-preview">
                        <a class="post-link" href="{{ url_for('accounts.add_account', saving_type=1) }}" title="开户"></a>
                        <h2 style="text-align: center;" class="post-title">储蓄账户开户</h2>
                        <h3 class="post-subtitle"></h3>
                    </section>
                </article>

                <article class="article-item">
                    <section class="post-preview">
                        <a class="post-link" href="{{ url_for('accounts.add_account', saving_type=0) }}" title="开户"></a>
                        <h2 style="text-align: center;" class="post-title">支票账户开户</h2>
                        <h3 class="post-subtitle"></h3>
                    </section>
                </article>

                <article class="article-item">
                    <section class="post-preview">
                        <a class="post-link" href="{{ url_for('accounts.other_options') }}" title="查询、修改删除"></a>
                        <h2 style="text-align: center;" class="post-title">其他操作</h2>
                        <h3 class="post-subtitle"></h3>
                    </section>
                </article>



            </div>

            <aside class="g-sidebar-wrapper">
                <div class="g-sidebar">
                    <section class="author-card">
                        <div class="avatar">
                            <img src="static/img/hero.jpg" alt="">
                        </div>
                        <div class="author-name" rel="author">USTC</div>
                        <div class="bio">
                            <p></p>
                        </div>
                    </section>
            </aside>

        </main>

        <footer class="g-footer">
            <section>USTC © 2021 - 2021
            </section>
            <section>Powered by <a href="">USTC BANK</a></section>
        </footer>


        </div>
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <script src="static/js/prism.js"></script>
        <script src="static/js/index.min.js"></script>


</body>

</html>