<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>zqc的博客</title>
        <meta name="author" content="朱秋成">
        <meta name="description" content="coder">
        <meta name="keywords" content="C++, Python, GO, GoWeb, Blog">
        <!-- Open Graph -->
        <meta property="og:title" content="zqc的博客">
        <meta property="og:type" content="website">
        <meta property="og:url" content="/">
        <meta property="og:description" content="coder">
        <meta property="og:site_name" content="zqc的博客">
        <link rel="stylesheet"
            href="//cdn.staticfile.org/normalize/6.0.0/normalize.min.css">
        <link rel="stylesheet"
            href="//at.alicdn.com/t/font_271755_rdxzzo2kqwk.css">
        <link rel="stylesheet" href="/app/static/css/github-markdown.css">
        <link rel="stylesheet" href="/app/static/css/prism.css">
        <link rel="stylesheet" href="/app/static/css/share.min.css">
        <link rel="stylesheet" href="/app/static/css/app.min.css">
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    </head>


    <body>
        <!--[if lt IE 10]>
<div class="alert-danger" role="alert">你的浏览器实在太太太旧了，放学别走，升级完浏览器再说！<a target="_blank" class="alert-link" href="http://browsehappy.com">立即升级</a></div>
<![endif]-->
        <input id="nm-switch" type="hidden" value="true">
        <div class="visible">
            <header class="g-header headerDown" style="background-color:
                transparent; box-shadow: none;">
                <div class="g-logo" style="background:
                    url(&quot;/static/icons/logo.svg&quot;) center center / 100%
                    100% no-repeat;">
                    <a href="/"></a>
                </div>
                <i id="menu-toggle" class="iconfont icon-menu"></i>
                <nav class="g-nav">
                    <ul>

                        <li><a href="/" style="color: rgb(255, 255, 255);">home</a></li>
                        <li><a href="/tags.html" style="color: rgb(255, 255,
                                255);">tags</a></li>

                    </ul>
                </nav>
            </header>


            <div class="g-banner home-banner banner-theme-default"
                data-theme="default" style="">
                <h2>ZQC 's Blog</h2>
                <h3></h3>
            </div>

            <main class="g-container home-content">
                <div class="article-list">

                    <article class="article-item">

                        <div class="post-cover">
                            <a class="post-link" href="/2021/06/01/myfirst.html"
                                title="Github主页"></a>

                        </div>

                        <section class="post-preview">
                            <a class="post-link" href="/2021/06/01/myfirst.html"
                                title="Github主页"></a>
                            <h2 class="post-title">{{.post_title}}</h2>

                            <h3 class="post-subtitle">{{.post_subtitle}}</h3>
                        </section>
                        <footer class="post-meta">
                            <div class="post-tags">


                                <a href="/tags.html#%E6%97%A5%E5%BF%97"
                                    class="post-tag">{{.post_tag}}</a>


                            </div>
                            <time class="post-date" datetime="{{.datetime}}">{{.datetime}}</time>
                        </footer>
                    </article>




                </div>

                <aside class="g-sidebar-wrapper">
                    <div class="g-sidebar">
                        <section class="author-card">
                            <div class="avatar">
                                <img src="/app/static/img/hero.jpg" alt="">
                            </div>
                            <div class="author-name" rel="author">朱秋成</div>
                            <div class="bio">
                                <p></p>
                            </div>

                            <ul id="sns-links" class="sns-links">

                                <li>
                                    <a href="//github.com/zqc-cs"
                                        target="_blank">
                                        <i class="iconfont icon-github"></i>
                                    </a>
                                </li>

                            </ul>

                        </section>


                        <section class="tags-card">


                            <a href="/tags.html#%E6%97%A5%E5%BF%97" class="tag">日志</a>
                        </section>

                    </div>


                    <div class="search-card">
                        <input id="search_input" type="text"
                            placeholder="Search..." autocomplete="off">
                        <i class="iconfont icon-search"></i>
                        <div class="search_result"></div>
                    </div>


                </aside>

            </main>

            <footer class="g-footer">
                <section>zqc的博客 © 2021 - 2021
                </section>
                <section>Powered by <a href="//jekyllrb.com">Jekyll</a> | <a
                        href="https://github.com/kaeyleo/jekyll-theme-H2O">Theme
                        H2O</a></section>
            </footer>


        </div>
        <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
        <script src="/app/static/js/prism.js"></script>
        <script src="/app/static/js/index.min.js"></script>


    </body>

</html>